@charset "utf-8";

@media screen and (max-width: 1580px) {

  /* 금융공시 바로가기 */
  .compare {top: 5rem;}

}
@media screen and (max-width: 1280px) {
  /* 헤더 */
  header nav {width: calc(100% - 195px);}
  header nav > ul > li {width: 25%;}
  header nav > ul > li > a {padding: 0;}

  /* 유틸리티 */
  header .spot {display: none;}
}

@media screen and (max-width: 1200px) {
  html {font-size: 20px;}
  body {font-size: 1rem; }

}

@media screen and (max-width: 600px) {
  html {font-size: 20px;}
  body {font-size: 1rem; }

  /* 헤더 */
  header nav {display: none;}

  /* 모바일 메뉴 버튼 */
  .mobie-menu-btn {display: block;}
}
