@charset "utf-8";

@media screen and (max-width: 1580px) {

  /* 금융공시 바로가기 */
  .compare {top: 5rem;}

}
@media screen and (max-width: 1280px) {
  /* 헤더 */
  header nav {width: calc(100% - 195px);}
  header nav > ul > li {width: 25%;}
  header nav > ul > li > a {padding: 0;}

  /* 유틸리티 */
  header .spot {display: none;}

  /* section1 home */
  .home .bottom-bar {display: none;}
}

@media screen and (max-width: 1200px) {
  /* section1 home */
  .home {padding-bottom: 4rem; height: auto;}
  .home .list > li > a {border-radius: .5rem;}
  .home .list1 {position: initial; width: 100%;}
  .home .list2 {position: initial; width: 100%; overflow: hidden;}
  .home .list2 > li {float: left; width: 33.3333%;}
  .home .list2 li.other {width: 66.6666%; }
  .home .list2 li.other div {border-radius: .5rem;}

  /* section community */
  .community {padding: 0 0 4rem 0; height: auto;}
  .community .row > article > div {border-radius: 10px;}
  .community .row2 { display: none;}
  .community .community-news {width: 100%;}
  .community .community-quick,
  .community .community-banner {position: relative; width: 50%; height: auto; overflow: none;}
  .community .community-quick > div,
  .community .community-banner > div {padding-bottom: 100%;}
  .community .community-quick ul,
  .community .community-banner ul {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
  .community .community-quick ul {padding: 20% 6%;}
}

@media screen and (max-width: 990px) {
  .home .list2 > li > a { background-image:none;}
}

@media screen and (max-width: 768px) {

  /* section content small */
  
}


@media screen and (max-width: 600px) {

  /* 헤더 */
  header nav {display: none;}

  /* 모바일 메뉴 버튼 */
  .mobie-menu-btn {display: block;}
}
