@charset "utf-8";

html {font-size: 20px;}
body {font-size: 1rem; }

/* 헤더 */
header {position: fixed; left: 0; top: 0; width: 100%; height: 4rem; background-color: #fff; border: 1px solid #ddd; z-index: 100; overflow: hidden; z-index: 100;}
header:after {content: ''; position: absolute; left: 0; top: 4rem; width: 100%; height: 1000px; background-color: #e8e9eb; z-index: 10;}
header h1,
header nav {float: left;}
header nav {width:calc(100% - 27.95rem);}
header .spot {float: right; padding: 1rem 0 0 1rem;}
header h1 {padding: 0 2rem 0 0; line-height: 4rem;}
header h1 a {display: block; width: 7.75rem;}
header h1 a img {width: 100%;}
/* 메뉴 */
header nav > ul { font-size: 0;}
header nav > ul > li { float:left; width: 25%; font-size: 1.05rem; font-weight: 500; line-height: 4rem; text-align: center;}
header nav > ul > li > a {display: block; font-family: 'NanumSquare', sans-serif; font-weight: bold;}
header nav > ul > li:hover > a {color: #108ad3;}
header .container {position: relative;}
.sub-menu {display: none; position: absolute; left: 0; top: 4rem; width: 100%; padding: 1rem 0 .9rem; line-height: 1.2em; z-index: 11;}
.sub-menu > li {float: left; width: 25%; padding: .8rem 1.9rem .8rem;  text-align: left;}
.sub-menu > li:nth-child(-n+4):before {content: ''; position: absolute; left: 0; top: 0; width: 1px; height: 100%; background-color: #dddee0;}
.sub-menu > li:nth-child(2):before {left: 25%;}
.sub-menu > li:nth-child(3):before {left: 50%;}
.sub-menu > li:nth-child(4):before {left: 75%;}
.sub-menu > li > a {font-size: .9rem; font-family: 'NanumSquare', sans-serif; font-weight: bold;}
.sub-menu2 {padding: 0.8rem 0 0; line-height: 1;}
.sub-menu2 > li > a {display: block; padding: 0.4rem 0; font-size: .8rem; color: #797979; font-weight: 500; line-height: 1.3em; transition: all .4s;}
.sub-menu2 > li > a:hover {color:#555;}
.sub-menu2 > li > a:before {content: '-'; display: inline-block; margin-right: 3px;}
/* 헤더 유틸리티 */
header .spot > div,
header .spot > button {float: left;}
header .spot > button {margin-left: .25rem;}
header .spot .sitemap {width: 5.85rem; height: 2rem; line-height: 2rem; background-color: #fff; border-radius: 2rem; border: 1px solid #cecfd0; font-size: .75rem; color: #6d6d6d;}
header .spot .sitemap:after {content: ''; display: inline-block; margin-left:.4rem; width: .7rem; height: .6rem; background: url(../images/icon_g.png) top 0 left -52px;}
header .spot .lang {width: 2rem; height: 2rem; line-height: 2rem; background-color: #0d2d4f; border-radius: 50%; font-size: .7rem; color: #fff;}
header .spot .lang:before {content:'EN'; }
header .spot .lang.on {background: #d82744;}
header .spot .lang.on:before {content: 'KR'}
/* 검색버튼 */
.search {font-size: 0;}
.search input {width: 6.6rem; height: 2rem; padding: 0 0 0 1.1rem; line-height: 2rem; border-radius: 2rem 0 0 2rem; background-color: #e8e9eb; font-size: .8rem; vertical-align: middle; outline: none;}
.saerch input::placeholder {color: #000;}
.search input:focus::placeholder {visibility: hidden;}
.search button {position: relative; width: 2rem; height: 2rem; line-height: 2rem; border-radius: 0 50% 50% 0; background-color: #e8e9eb; vertical-align: middle;}
.search button:before {content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: .8rem; height: .8rem; background: url(../images/icon_g.png) left -32px top 0;}
/* 모바일 메뉴 버튼 */
.mobie-menu-btn {display: none; position: absolute; top: .8rem; right: 1.5rem; width: 2.5rem; height: 2.5rem; background-color: #ddd; border-radius: 5px;}
/* 금융상품 비교공시 바로가기 */
.compare {position: fixed; right: 3%; top: 1.15rem; z-index: 1;}
.compare img {vertical-align: top;}

/* 홈 섹션 */
.home {position: relative; padding: 23.5vh 0 0; background: url(../images/main_visual01.jpg) no-repeat center /cover;} 
.home .title {margin-bottom: 3.5rem;}
.home .container {position: relative;}
.home .list > li {padding: .5rem; }
.home .list > li h3 {font-size: 1.6rem;}
.home .list > li p {font-size: .85rem; color: #a2a2a2; line-height: 1.2em;}
.home .list > li > a {display: block; width: 100%; height: 20rem; background-color: #fff; border-radius: 1rem; transition: all .3s;}
.home .list1 {position: absolute; right: 0; width: 75%; }
.home .list1 li {float: left; width: 33.3333%; text-align: center;}
.home .list1 li:last-child {margin-right: 0;}
.home .list1 li a h3 {padding: 1.9rem 0 .8rem;}
.home .list1 li a h3:before {content: ''; display: block; margin: 0 auto 1.6rem; width: 9rem; height: 9rem; background: #edf1f5 url(../images/icon_s0101.png) no-repeat center /100%; border-radius: 50%;}
.home .list1 li:nth-of-type(1) a h3:before {background-image: url(../images/icon_s0101.png);}
.home .list1 li:nth-of-type(2) a h3:before {background-image: url(../images/icon_s0102.png);}
.home .list1 li:nth-of-type(3) a h3:before {background-image: url(../images/icon_s0103.png);}
.home .list2 { position: absolute; left: 0; width: 25%; height: auto;}
.home .list2 > li > a {display: block; padding: 1.3rem 1.3rem 0; width: 100%; height: 9.5rem; background: #fff url(../images/icon_s0104.png) no-repeat right 1.3rem bottom 1.3rem; box-sizing: border-box;}
.home .list2 > li > a h3 {padding: 0 0 .7rem; font-size: 1.4rem;}
.home .list2 > li > a p {margin-bottom: .7rem; line-height: 1.6em; font-size: .75rem;}
.home .list2 li.other {padding: 0.5rem; }
.home .list2 li.other div {background: #108ad3; border-radius: 1rem; height: 9.5rem;}
.home .list2 li.other h3 {padding: 1.3rem 0 .65rem 1.3rem; font-size: .9rem; color: #fff;}
.home .list2 li.other ul {font-size: 0; padding: 0 .6rem; text-align: center;}
.home .list2 li.other ul li {float: left; width: 33.3333%; vertical-align: top;}
.home .list2 li.other ul li a {display: block; width: 100%; height: 100%; font-size: .65rem; color: #fff; line-height: 1.3em; }
.home .list2 li.other ul li a:before {content: ''; display: block; margin: 0 auto .4rem; width: 3.5rem; height: 3.5rem; background: #fff url(../images/icon_s0105.png) no-repeat center /100%; border-radius: 50%; transition: all .3s;}
/* hover */
.home .list > li > a:hover {background-color: #108ad3;}
.home .list > li > a:hover h3 {color: #fff;}
.home .list > li > a:hover p {color: #fff;}
.home .list > li > a:hover span {background: #fff; color: #000;}
.home .list2 li.other a:hover:before {transform: scale(1.1); box-shadow: 0 0 .4rem .15rem rgba(0, 0, 0, 0.3);}
/* 홈섹션 하단공지바 */
.home .bottom-bar {position: absolute; bottom: 0; left: 0; width: 100%; height: 3rem; line-height: 3rem; background: rgba(9, 37, 68, 0.7);}
.home .bottom-bar ul {max-width: 1280px; margin: 0 auto; border-left: 1px solid rgba(255, 255, 255, 0.1); border-right: 1px solid rgba(255, 255, 255, 0.1); overflow: hidden;}
.home .bottom-bar ul li {position: relative; float: left; width: 50%; }
.home .bottom-bar ul li ~ li {border-left: 1px solid rgba(255, 255, 255, 0.1);}
.home .bottom-bar ul li a {display: inline-block; font-size: .8rem; color: #fff; vertical-align: top;}
.home .bottom-bar ul li a.category {position: relative; margin: 0 1.9rem;}
.home .bottom-bar ul li a.category:after {content: ''; position: absolute; top: 50%; right: -1.2rem; transform: translateY(-50%); width: 1px; height: .65rem; background: rgba(255, 255, 255, 0.2);}
.home .bottom-bar ul li a.category:before {content: ''; display: inline-block; margin-right: .5rem; width: 1.2rem; height: 1.2rem; vertical-align: -0.3rem;}
.home .bottom-bar ul li.bar-notice a.category:before {background: url(../images/icon_notice.png) no-repeat center;}
.home .bottom-bar ul li.bar-news a.category:before {background: url(../images/icon_news.png) no-repeat center;}
.home .bottom-bar ul li a.bar-title {overflow: hidden; display: inline-block; width: 20rem; white-space: nowrap; text-overflow: ellipsis;}
.home .bottom-bar ul li a.more {position: absolute; top: 50%; right: 1rem; transform: translateY(-50%); width: 1.5rem; height: 1.5rem; background: url(../images/icon_arrow02.png) no-repeat center; vertical-align: middle;}

/* 생명보험협회 섹션 */
.community {padding: 0 0 5.75rem 0; background: url(../images/section02_bg.jpg) no-repeat center /cover;}
.community .title {padding: 8.6rem 0 2.65rem;}
.community .row > article { float: left; padding: 0.5rem;}
.community .row > article > div {border-radius: 1rem; border: 1px solid #d4d5d8; background-color: #fff; overflow: hidden;}
.community .row1 > article > div { height: 15rem;}
.community .row2 > article > div { height: 11.2rem; }
.community .community-news {width: 50%;}
.community .community-quick { width: 25%;}
.community .community-banner { width: 25%;}
.community .community-notice {width: 50%;}
.community .community-quick2 {width: 50%;}
/* 보도자료 */
.community .row .community-news > div { position: relative; background: #edf1f5;}
.community-news .news-category {border-bottom: 1px solid #d4d5d8; height: 2.5rem;}
.community-news .news-category li {float: left; width: 7rem; height: 2.5rem; line-height: 2.5rem; border-right: 1px solid #d4d5d8; text-align: center;}
.community-news .news-category li.on {background-color: #fff; border-bottom: 1px solid #fff;}
.community-news .news-category button {display: block; width: 100%; height: 100%; font-size: .9rem; font-weight: bold; background-color: transparent;}
.community-news .news-contents-container {display: none;}
.community-news .news-contents-container.on {display: block;}
.community-news .news-contents { position: absolute; left: 0; top: 2.5rem; padding: 1.4rem 1.6rem 1.2rem; width: 100%; background: #fff;}
.community-news .news-contents li {position: relative; height: 33px; line-height: 33px;}
.community-news .news-contents li a {display: inline-block; width: 18rem; font-size: .75rem; color: #6d6d6d; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; transition: all .3s;}
.community-news .news-contents li a:hover {color: #108ad3;}
.community-news .news-contents li span {position: absolute; right: 0; top: 50%; transform: translateY(-50%); font-size: .7rem; color: #6d6d6d; }
.news-more { position: absolute; right: 1.5rem; top: .8rem; padding-right: 1rem; background: url(../images/icon_more.png) no-repeat center right; font-size: .7rem; color: #76787a; font-weight: normal;}
/* 협회소개 */
.community .row .community-quick > div {background: #108ad3;}
.community-quick ul {padding: 1.25rem 0; height: 100%;}
.community-quick li {float: left; margin-bottom: .75rem; width: 50%; height: 50%; text-align: center;}
.community-quick li a {font-size: .8rem; color: #fff; line-height: 1;}
.community-quick li a:before {content: ''; display: block; margin: 0 auto .2rem; width: 4.1rem; height: 4.1rem; background: #fff url(../images/icon_s0201.png) no-repeat center /100%; border-radius: 50%; transition: all .3s;}
.community-quick li:nth-child(1) a:before {background-image: url(../images/icon_s0201.png);}
.community-quick li:nth-child(2) a:before {background-image: url(../images/icon_s0202.png);}
.community-quick li:nth-child(3) a:before {background-image: url(../images/icon_s0203.png);}
.community-quick li:nth-child(4) a:before {background-image: url(../images/icon_s0204.png);}
/* hover */
.community-quick li a:hover:before {transform: scale(1.1); box-shadow: 0 0 .4rem .15rem rgba(0, 0, 0, 0.3);}
/* 팝업광고 */
.community .row .community-banner > div {}
.community-banner ul { position: relative;}
.community-banner ul li {left: 0; width: 15rem; height: 15rem;}
.community-banner ul li a { display: block; width: 100%; height: 100%;}
.community-banner ul li a img { width: 100%; vertical-align: middle;}
.community-banner .banner-slide {position: relative;}
.community-banner .swiper-pagination {position: absolute; top: 0; right: 1rem; left: initial; bottom: initial; width: initial; }
.community-banner .swiper-pagination:before {content: ''; display: inline-block; margin-right: .2rem; width: .4rem; height: .5rem; background: url(../images/icon_g.png) no-repeat 0 0; cursor: pointer;}
.community-banner .swiper-pagination.on:before {background: url(../images/icon_g.png) no-repeat -0.9rmd 0;}
.community-banner span.swiper-pagination-bullet {padding: 0; margin: 0; width: .3rem; height: .3rem; border: 1px solid #000; background: transparent;}
.community-banner span.swiper-pagination-bullet-active {background-color: #333;}
/* 공지사항 */
.community .row .community-notice > div { position: relative;}
.community-notice .news-category {padding: 1.4rem 1.9rem .9rem; font-size: 1.1rem; }
.community-notice .news-contents {padding: 0 1.9rem 1.2rem;}
.community-notice .news-contents li {position: relative; height: 1.65rem; line-height: 1.65rem;}
.community-notice .news-contents li a {display: inline-block; width: 18rem; font-size: 7.5rem; color: #6d6d6d; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
.community-notice .news-contents li a:hover {color: #108ad3;}
.community-notice .news-contents li span {position: absolute; right: 0; top: 50%; transform: translateY(-50%); font-size: .7rem; color: #6d6d6d; }
.community-notice .news-more {top: 1.5rem;}
/* 협회소개2 */
.community .row .community-quick2 > div {}
.community-quick2 ul {height: 100%;}
.community-quick2 ul li {float: left; padding: 1.8rem .25rem 0; width: 33.3333%; height: 100%; text-align: center;}
.community-quick2 ul li ~ li {border-left: 1px solid #d4d5d8;}
.community-quick2 ul li a {position: relative; display: block; padding: 0 0 .8rem 0; font-size: 1rem; width: 100%; height: 100%;}
.community-quick2 ul li a:before {content: ''; display: block; margin: 0 auto 1rem; width: 3.2rem; height: 3.2rem; background: url(../images/icon_s0205.png) no-repeat center /auto 100%; }
.community-quick2 ul li:nth-child(1) a:before {background-image: url(../images/icon_s0205.png);}
.community-quick2 ul li:nth-child(2) a:before {background-image: url(../images/icon_s0206.png);}
.community-quick2 ul li:nth-child(3) a:before {background-image: url(../images/icon_s0207.png);}
.community-quick2 ul li a.small {font-size: .8rem; line-height: 1.2em;}
.community-quick2 ul li a.small:before {margin-bottom: .7rem;}
.community-quick2 ul li a span {position: absolute; left: 50%; bottom: 1.8rem; transform: translateX(-50%); width: 5rem; height:1.3rem; line-height: 1.3rem; background: #92989b;  border-radius: 1.3rem; font-size: .75rem; color: #fff; text-align: center; transition: all .3s;}
.community-quick2 ul li a span:after {content: '\f061'; margin-left: .3rem; font-family: fontawesome; font-size: .6rem; vertical-align: .1rem;}
.community-quick2 ul li a:hover span {background: #108ad3;}

/* 소비자 섹션 */
.consumer {padding: 9.15rem 0 7.7rem;}
.consumer .title {margin-top: 1.2rem; padding: 0 0 2.6rem 0; text-align: left;}
.consumer .title.bar h2:before {top: -1.15rem; left: 0; transform: initial;}
.consumer article {float: left; padding: .5rem; width: 50%;}
.consumer .consumer-heading ul li {float: left; margin-right: 1.7rem; width: calc(50% - .85rem); border-bottom: 1px solid #e1e1e1;}
.consumer .consumer-heading ul li:nth-child(2n) {margin-right: 0;}
.consumer .consumer-heading ul li a {display: block; height: 2rem; line-height: 2rem; font-size: .8rem; color: #505050; font-weight: 400;}
.consumer .consumer-heading ul li a:before {content:''; display: inline-block; margin: 0 .3rem 0 .2rem; width: .9rem; height: .9rem; border-radius: 50%; background: #1c1c1c url(../images/icon_arrow01.png) no-repeat center; vertical-align: -0.15rem;}
.consumer .consumer-bg span {display: block; height: 17.25rem; background: url(../images/s03_bg.jpg) no-repeat center /cover; border-radius: 1rem;}
.consumer .consumer-list {width: 100%; padding: 0;}
.consumer .consumer-list ul li {float: left; padding: .5rem; width: 25%; }
.consumer .consumer-list ul li a {position: relative; display: block; padding: 1.3rem 1.3rem 0; width: 100%; height: 10.25rem; box-sizing: border-box; border: 1px solid #d4d5d8; border-radius: 1rem; transition: all .3s;}
.consumer .consumer-list ul li:nth-of-type(2n) a {background: #f6f8fa;}
.consumer .consumer-list ul li a:after {content: ''; position: absolute; right: .8rem; bottom: 1rem; width: 4.9rem; height: 3.9rem; background: url(../images/icon_s0301.png) no-repeat center; }
.consumer .consumer-list ul li:nth-of-type(1) a:after {background-image: url(../images/icon_s0301.png);}
.consumer .consumer-list ul li:nth-of-type(2) a:after {background-image: url(../images/icon_s0302.png);}
.consumer .consumer-list ul li:nth-of-type(3) a:after {background-image: url(../images/icon_s0303.png);}
.consumer .consumer-list ul li:nth-of-type(4) a:after {background-image: url(../images/icon_s0304.png);}
.consumer .consumer-list ul li a h3 {padding: 0 0 .8rem; font-size: 1.2rem;}
.consumer .consumer-list ul li a p {margin-bottom: 34px; line-height: 1.4em; font-size: .75rem; color: #838383;}
/* hover */
.consumer .consumer-list ul li a:hover {background: #108ad3;}
.consumer .consumer-list ul li a:hover h3 {color: #fff;}
.consumer .consumer-list ul li a:hover p {color: #fff;}
.consumer .consumer-list ul li a:hover .btn-style01 {background:#fff; color: #000;}

/* 모집종사자 섹션 */
.manager {padding-bottom: 8.6rem; background: url(../images/section04_bg.jpg);}
.manager .title {padding: 11.4rem 0 3.1rem;}
.manager .manager-content li {float: left; padding: .5rem; width: 25%;}
.manager .manager-content li a {position: relative; display: block; padding: 2rem 1.75rem; height: 21.5rem; background: #fff; border-radius: 1rem;overflow: hidden;}
.manager .manager-content li a strong { font-size: 1.5rem; line-height: 1.2em;}
.manager .manager-content li a p {padding: .9rem 0 0 0; font-size: .9rem; line-height: 1.4em; color: #777; font-weight: 400;}
.manager .manager-content li a span {position: absolute; width: 100%; height: 100%; left: 0; bottom: 0;}
.manager .manager-content li a span img {position: absolute; left: 0; bottom: 0; width: 100%; vertical-align: middle; transition: all .4s; }
.manager .manager-content li a span img.mov00 {transform-origin: bottom center;}
.manager .manager-content li a span img.mov01 {transform: scale(1.3) translate(0, 36px); transform-origin: bottom center; transition: all .4s .1s;}
.manager .manager-content li a span img.step1 {transition: all .4s .15s;}
.manager .manager-content li a span img.step2 {transition: all .4s .2s;}
.manager .manager-content li a:hover img.mov00 {transform: scale(1.1);}
.manager .manager-content li a:hover img.mov01 {transform: scale(1.3) translate(1rem, 1.25rem);}
.manager .manager-content li a:hover img.mov02 {transform: scale(1.3) translate(1rem, 1.25rem);}
.manager .manager-content li a:hover img.mov03 {transform: scale(1.3) translate(-0.5rem, .9rem);}
.manager .manager-content li a:hover img.mov04 {transform: scale(1.3) translate(-0.5rem, .9rem);}
.manager .manager-content li a:hover img.mov05 {transform: scale(1.3) translate(-0.25rem, .75rem);}
.manager .manager-content li a:hover img.mov06 {transform: scale(1.3) translate(-0.25rem, 1.25rem);}
.manager .manager-content li a:hover img.mov07 {transform: scale(1.3) translate(-0.25rem, .5rem);}
.manager .manager-content li a:hover img.mov08 {transform: scale(1.3) translate(0.15rem, 1.25rem);}
.manager .manager-content li a:hover img.mov09 {transform: scale(1.3) translate(-0.4rem, 1.25rem);}

/* 회원사 섹션 */
.member { background: url(../images/section05_bg.jpg);}
.member .title {padding: 10.5rem 0 5.5rem;}
.member .member-content li {float: left; padding: 0 10px; width: 16.6666%;}
.member .member-content li a {display: block; margin: 0 auto; width: 9rem; text-align: center;}
.member .member-content li a span {display: block; border: 6px solid #fff; border-radius: 50%; transition: all .3s;}
.member .member-content li a span img {width: 100%; vertical-align: middle;}
.member .member-content li a:hover span {transform: scale(1.1);}
.member .member-content li a:before {content: ''; width: 8.9rem; height: 8.9rem;}
.member .member-content li a strong {display: block; padding: 1.5rem 0 1.1rem; font-family: 'NanumSquare', sans-serif; font-size: 1.05rem; color: #000; font-weight: bold; line-height: 1.2em;}
.member .member-content li a strong.r2 {padding: .8rem 0 .6rem;}
.member .member-content li a p {font-size: .75rem; color: #666; line-height: 1.5em;}

/* 파트너 섹션 */
.partner {height: 100px; border-top:1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; overflow: hidden;}
.partner .container {position: relative; overflow:hidden;}
.partner ul li {float: left; }
.partner ul li a {display: block; height: 5rem; text-align: center; }
.partner ul li a img {height: 100%;}
.partner .swiper-button-next {right: 0;}
.partner .swiper-button-prev {left: 0;}
.partner .swiper-button-next:after,
.partner .swiper-button-prev:after {content:''; font-family: initial; width: .75rem; height: 1.35rem; }
.partner .swiper-button-next:after {background: url(../images/icon_f_next.png) no-repeat center;}
.partner .swiper-button-prev:after {background: url(../images/icon_f_prev.png) no-repeat center;}

/* 푸터 */
footer {padding: 2rem 0 3rem; background: #f3f4f5;}
footer .foot-logo {float: left;}
footer .foot-content {float: left;}
.foot-logo {width: 6.75rem; margin-right: 2rem;}
.foot-logo img {width: 100%; vertical-align: top;}
.foot-content a {display: inline-block; padding: 0 0 8px; font-size: .75rem; color: #000; font-weight: 500; vertical-align: top;}
.foot-content address {font-size: .7rem; color: #979797; line-height: 1.5em; font-weight: 500;}
.foot-content span {font-size: .7rem; color: #979797; font-weight: 500;}